#page-teacher-list{
    width: 100vw;
    height: 100vh;
}

#search-teacher{
    margin-top: 3.2rem;
}

#search-teacher label{
    color: var(--color-text-in-primary);
}

#page-teacher-list main{
    margin: 3.2rem auto;
    width: 90%;
}

#search-teacher button{
    display: flex;
    background: var(--color-secundary);
    height: 5.6rem;
    width: 100%;
    margin-top: 2.5rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.6rem;
    color: var(--color-button-text);
    align-items: center;
    justify-content: center;
    font:700 1.6rem Archivo;
    transition: background 0.2s;
}

#search-teacher button:hover{
    background: var(--color-secundary-dark);
}


@media(min-width: 700px){
    #page-teacher-list{
        max-width: 100%;
    }

    #search-teacher{
        display: grid;
        /* Proportionally makes a grid with 3 columns */
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -24px;
    }

    #search-teacher .input-block + .input-block,
    #search-teacher .select-block + .select-block{
        margin-top: 0;
    }

    #search-teacher button{
        margin-top: 3.0rem;
    }


    #page-teacher-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }

    .teacher-item header,
    .teacher-item footer{
        padding: 3.2rem;
    }

    .teacher-item > p{
        padding: 0 3.2rem;
    }

    .teacher-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .teacher-item footer button{
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .teacher-item footer button img{
        margin-right: 1.6rem;
    }
}